
* {
  font-style: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-style: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-rows: 64px 1024px 200px;
  grid-template-columns: 1fr 70%  1fr;
}

body > * {
  padding: 1em;
}

nav {
  grid-row: 1;
  grid-column: 1 / 4;
}

body > aside, section, footer {
  padding: 1em;
}

aside {
  grid-row: 2;
  grid-column: 1;
}

section {
  grid-row: 2;
  grid-column: 2 / 4;
}

footer {
  grid-row: 3;
  grid-column: 1 / 4;
}

ul {
  list-style-type: none;
  overflow-y: auto;
}

li {
  text-align: left;
  padding: 1em;
  background: #fff;
  border-radius: 1em;
}

li.mine {
  text-align: right;
  background: #161;
  color: #eee;
}