ul
  list-style-type: none
  font-family: sans-serif
  padding: 0
  height: 80vh
  min-height: 100px
  width: 100%
  border: 1px solid red
  display: flex
  flex-flow: column nowrap
  overflow: auto

  li
    padding: 0.5em 1em
    text-align: right
    display: flex
    flex-direction: row-reverse

    .sender-image
      width: 2em
      background:#f60
      text-align: center
      line-height: 2em
      border-radius: 2em
      color:#fff
      font-weight: bold
      height: 2em
    
    div.message-content
      display: flex
      flex-direction: column
      padding: .5em
      width: max-content
      border-radius: 1em
      background: #fff
      margin: 0 .4em
      span.author 
        color: #f60
        font-size: 0.7em

    &.mine 
      flex-direction: row
      .message-content 
        background: #fdd
